  <aside class="bg-dark">
      <div class="container">
          <div class="call-to-action" >
              <h2 style="color:white">Retrouvez la démonstration dans l'application,</h2>
                 <h2 style="color:white">"Kotlin pour Android" !</h2>
                 <p align="middle"><img width="200px" src="https://gitlab.com/chillcoding-at-the-beach/kotlin-for-android/raw/master/app/src/main/ic_launcher-web.png" alt="Kotlin For Android App"></p>
          <p align="middle">  <a align="middle" href="https://play.google.com/store/apps/details?id=com.chillcoding.kotlin" class="btn btn-default btn-xl wow tada">Téléchargez sur Google Play</a></p>
          </div>
      </div>
  </aside>
