<form action="{{ site.baseurl }}/search/" method="get" class="form-inline search-form">
  <div class="form-group">
    <input type="text" id="search-box" class="form-control" name="q">
  </div>
  <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
</form>
