<!DOCTYPE html>
{% if page.categories contains 'fr' %}
<html lang="fr">
{% else %}
<html lang="en">
{% endif %}
  {% include head.html %}

  <body class="blog">
    {% include nav.html context='blog' %}
    {% include search.html %}
    <section class="content container blog home">
      <div class="four-fifths center-on-mobiles">
        {{ content }}
      </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
    {% include analytics.html %}
  </body>
</html>
